@use "globals" as *;
@use "utilities" as *;

.btn--bookmarks {
  z-index: 2;

  &:hover {
    .bookmarks,
    .message {
      opacity: 1;
      visibility: visible;
    }

    .bookmarks {
      height: 250px;
    }
  }

  .bookmarks {
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: $color-primary-light;
    left: 50%;
    bottom: rem(73);
    border-radius: 30px;
    border: solid $color-primary 2px;
    width: calc(100% - rem(24));
    max-width: rem(576);
    height: 0;
    transform: translate(-50%);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;

    @media screen and (max-width: 20em) {
      bottom: rem(67);
    }

    @include breakpoint(medium) {
      bottom: rem(111);
      left: rem(42);
      width: calc(45% - rem(47));
      transform: none;
    }

    @include breakpoint(large) {
      top: clamp(107px, calc(107px + ((100vh - 700px) / 8.333)), 143px);
      left: calc(40% + 32px);
      max-width: 633.61px;
      width: calc(497.75px + (100vw - 1024px) / 1.76);
    }

    .result {
      margin: 0;
      width: 90%;

      @media screen and (max-width: 20em) {
        height: rem(75);
      }

      @media screen and (min-width: 31.25em) {
        width: 45%;
      }

      @include breakpoint(medium) {
        width: 90%;
      }
      @include breakpoint(large) {
        width: 45%;
        height: rem(82);
      }
    }

    .bookmarks__list {
      display: flex;
      flex-wrap: wrap;
      gap: rem(16);
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow-y: scroll;
      height: 100%;
      padding: rem(16);

      .message {
        font-size: 1.25rem;

        @include breakpoint(medium) {
          font-size: 1.5rem;
        }
        max-width: 22ch;
        text-align: center;

        span {
          font-size: 1.25rem;
        }
      }
    }
  }
}
