@use "utilities" as *;
@use "globals" as *;

.btn {
  font-family: $font-primary;
  letter-spacing: rem(-2);
  color: $color-blue;
  border-radius: rem(30);
  background-color: $color-primary-light;
  border: solid 1px $color-primary;
  box-shadow: -3px 4px 0px $color-primary;
  transition: all 100ms linear;
  cursor: pointer;

  &:hover {
    transform: translate(-3px, 4px);
    box-shadow: none;
  }

  &--start {
    margin-top: rem(36);
    font-size: rem(25);
    padding: rem(5) rem(52);

    @include breakpoint(medium) {
      display: none;
    }
  }

  &--search {
    color: $color-primary;
    font-size: rem(16);
    padding: rem(8) rem(24) rem(8) rem(22);

    @include breakpoint(large) {
      box-shadow: none;
      border-radius: rem(30);
      border: none;
      border-left: solid 1px $color-primary;

      &:hover {
        transform: none;
        background-color: #faba8a;
      }
    }
  }

  &--nav {
    color: $color-primary;
    font-size: rem(40);
    width: rem(80);
    height: rem(80);
    border-radius: 100%;

    @include breakpoint(large) {
      width: auto;
      height: rem(40);
      font-size: rem(16);
      border-radius: rem(30);
      padding: 0 rem(15);
    }
  }
}
