@use "utilities" as *;
@use "globals" as *;

.header {
  max-width: rem(1000);
  margin-top: rem(16);

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    gap: rem(55);
  }

  @include breakpoint(large) {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  &__search {
    display: none;
    transition: all 500ms ease-in-out;

    &--mobile {
      width: auto;
      height: auto;
      opacity: 1;
    }

    @include breakpoint(medium) {
      width: auto;
      height: auto;
      opacity: 1;
      display: flex;
      gap: rem(10);
    }

    @include breakpoint(large) {
      gap: 0;
      justify-items: center;
      background-color: $color-white;
      border-radius: rem(30);
      border: solid 1px $color-primary;
      width: auto;
      max-width: rem(340);
      box-shadow: -3px 4px 0px $color-primary;
      line-height: rem(18);
      overflow: hidden;
      padding-left: rem(12);
      font-family: $font-secondary;
      font-size: rem(16);
      color: $color-blue;
      letter-spacing: rem(-1);
      transition: all 100ms ease-in-out;
      -webkit-appearance: none;

      &:hover {
        transform: translate(-3px, 4px);
        box-shadow: none;
      }
    }
  }
}

.title {
  display: flex;
  gap: rem(5);
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;

  &--mobile {
    transform: translateY(-10px);

    @include breakpoint(medium) {
      transform: none;
    }
  }

  &__logo {
    width: rem(45);
    height: rem(45);

    @include breakpoint(medium) {
      width: rem(55);
      height: rem(55);
    }

    @include breakpoint(large) {
      width: rem(35);
      height: rem(35);
    }
  }

  &__text {
    font-family: $font-primary;
    font-size: rem(38);
    letter-spacing: rem(-4);

    @include breakpoint(medium) {
      font-size: rem(50);
    }

    @include breakpoint(large) {
      font-size: rem(40);
    }
  }
}
