@use "utilities" as *;
@use "globals" as *;

.header {
  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    gap: rem(55);
  }

  &__search {
    display: none;

    @include breakpoint(medium) {
      display: flex;
      gap: rem(10);
    }
  }
}

.title {
  display: flex;
  gap: rem(5);
  justify-content: center;
  align-items: center;

  &__logo {
    width: rem(45);
    height: rem(45);

    @include breakpoint(medium) {
      width: rem(55);
      height: rem(55);
    }
  }

  &__text {
    font-family: $font-primary;
    font-size: rem(38);
    letter-spacing: rem(-4);

    @include breakpoint(medium) {
      font-size: rem(50);
    }
  }
}

.search {
  &__field {
    background-color: $color-white;
    border-radius: rem(30);
    border: solid 1px $color-primary;
    width: rem(210);
    box-shadow: -3px 4px 0px $color-primary;
    line-height: rem(18);
    padding: rem(12) rem(16) rem(8) rem(16);
    // padding: rem(8) rem(16);
    font-family: $font-secondary;
    font-size: rem(16);
    color: $color-blue;
    letter-spacing: rem(-1);
    transition: all 100ms ease-in-out;
    -webkit-appearance: none;

    &:focus {
      transform: translate(-3px, 4px);
      box-shadow: none;
      border: solid 2px $color-secondary;
      outline: none;
      overflow: visible;

      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $color-blue;
      line-height: rem(18);
    }
  }

  &__text {
    display: none;
  }
}
