@use "utilities" as *;

.nav {
  display: none;
  position: absolute;
  bottom: rem(20);
  left: 50%;
  transform: translate(-50%);

  &__list {
    display: flex;
    gap: rem(40);

    @media screen and (max-width: 320px) {
      gap: rem(30);
    }
  }

  &__title {
    display: none;
  }

  @include breakpoint(medium) {
    display: block;
    position: absolute;
    bottom: rem(45);
    left: 50%;
    transform: translate(-50%);

    &__list {
      display: flex;
      gap: rem(80);
    }

    &__title {
      display: none;
    }
  }

  @include breakpoint(large) {
    position: static;
    transform: none;

    &__list {
      gap: rem(10);
    }

    &__title {
      display: inline-block;
      margin-left: rem(5);
    }
  }
}

.bookmarks {
  .message {
    display: none;
  }
}
