@use "globals" as *;
@use "utilities" as *;

.overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.recipe-upload {
  position: absolute;
  background-color: $color-milk;
  border-radius: rem(30);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: rem(24);
  width: 95%;
  height: 90%;
  overflow-y: scroll;
  z-index: 3;
  border: solid $color-secondary rem(5);

  @media screen and (max-width: 20em) {
    padding: rem(16);
  }

  @include breakpoint(medium) {
    height: rem(580);
    padding: rem(30) rem(40);
  }

  @include breakpoint(large) {
    height: rem(440);
  }
}

.upload {
  color: $color-blue;

  @include breakpoint(medium) {
    margin-top: rem(-30);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 rem(30);
  }

  &__column {
    &:nth-of-type(1) {
      margin-top: rem(-30);

      @include breakpoint(medium) {
        margin-top: 0;
      }
    }

    @include breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      gap: rem(5) 0;
      align-items: center;
    }

    label {
      display: block;
      font-size: rem(18);
      margin: rem(12) 0 rem(2);
    }

    input {
      font-size: rem(16);
      width: 100%;
      border: 1px solid $color-primary;
      padding: rem(8) rem(4) rem(4);
      border-radius: rem(8);
      color: $color-blue;
      font-family: $font-secondary;

      &:focus {
        outline: none;
        padding: rem(7) rem(3) rem(3);
        border: 2px solid $color-primary;
        background-color: #f7ddc9;
      }
    }
  }

  &__heading {
    font-size: rem(24);
    letter-spacing: -2px;
    text-transform: capitalize;
    font-family: $font-primary;
    margin: rem(16) 0 rem(14);

    @include breakpoint(large) {
      grid-column: 1/-1;
    }
  }
}
