@use "utilities" as *;
@use "globals" as *;

.results {
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  transition: all 500ms ease-in-out;
  background-color: $color-white;
  border-radius: rem(30);
  height: calc(100% - rem(64));
  overflow-y: scroll;
  border: solid 2px $color-primary;

  @include breakpoint(medium) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    width: 100%;
    opacity: 1;
    background-color: $color-white;
    border-radius: rem(30);
    height: 100%;
    margin: 0 auto;
    max-height: none;
    border: solid 2px $color-primary;
  }
  @include breakpoint(large) {
    max-height: none;
  }

  .message {
    text-align: center;
    align-self: flex-start;
    padding: rem(10);

    &__title {
      margin-top: rem(40);
      padding: 0 rem(16);
      font-size: rem(40);
      font-weight: 500;
      letter-spacing: rem(-2);

      @include breakpoint(large) {
        margin-top: rem(80);
      }
    }

    .animation {
      margin: rem(-40) auto 0;
    }
  }

  // &__content {
  //   height: 100%;
  // }

  &__list {
    list-style: none;
    width: 100%;
  }

  &__pagination {
    margin: 0 auto rem(8);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }

  .page {
    letter-spacing: 0;
    line-height: rem(40);
    background: $color-primary-light;
    text-align: center;
    color: $color-blue;
    font-size: rem(16);
    font-weight: 700;
    font-family: $font-primary;
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    grid-column: 2/3;
  }
}

.result {
  width: 90%;
  margin: rem(16) auto;
  font-size: rem(10);
  background-color: $color-milk;
  border: 2px solid $color-primary;
  box-shadow: -3px 4px 0px $color-primary;
  border-radius: rem(15);
  transition: all 100ms linear;
  cursor: pointer;

  &:hover {
    transform: translate(-3px, 4px);
    box-shadow: none;
  }

  &--active {
    background-color: $color-secondary-light;
  }

  &__link {
    padding: rem(8) rem(16);
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: rem(12);
    height: 100%;
  }

  &__fig {
    flex: 0 0 rem(60);
    border-radius: 50%;
    height: rem(60);
    overflow: hidden;

    @media screen and (max-width: 320px) {
      flex: 0 0 rem(40);
      height: rem(40);
    }

    img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__data {
    color: $color-blue;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    font-size: rem(18);
    margin-top: rem(4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-weight: 600;
  }

  &__publisher {
    margin-top: rem(4);
    font-size: rem(16);
    font-weight: 300;
  }

  @include breakpoint(large) {
    &__title {
      font-size: rem(20);
    }

    &__publisher {
      font-size: rem(18);
    }
  }
}
