@use "utilities" as *;
@use "globals" as *;

.results {
  display: none;
  transition: all 500ms ease-in-out;
  background-color: $color-white;
  border-radius: rem(30);
  margin: rem(16);
  margin-bottom: rem(12);
  height: 55vh;
  overflow-y: scroll;
  border: solid 2px $color-primary;

  @include breakpoint(medium) {
    display: block;
    opacity: 1;
    background-color: $color-white;
    border-radius: rem(30);
    height: 100%;
    margin: 0 auto;
    max-height: none;
    border: solid 2px $color-primary;
  }
  @include breakpoint(large) {
    margin-top: rem(10);
    width: 90%;
    max-height: none;
  }

  .message {
    text-align: center;
    padding: rem(10);

    &__title {
      margin-top: rem(40);
      padding: 0 rem(16);
      font-size: rem(40);
      font-weight: 500;
      letter-spacing: rem(-2);
    }

    .animation {
      margin: rem(-40) auto 0;
    }
  }
}
