@use "globals" as *;
@use "utilities" as *;

.btn--shopping {
  z-index: 2;

  .message {
    opacity: 1;
    visibility: visible;
  }

  .shopping {
    position: absolute;
    // visibility: visible;
    visibility: hidden;
    // opacity: 1;
    opacity: 0;
    background-color: $color-primary-light;
    left: 50%;
    bottom: rem(73);
    border-radius: 30px;
    border: solid $color-primary 2px;
    width: calc(100% - rem(24));
    max-width: rem(576);
    height: 0;
    // height: 250px;
    transform: translate(-50%);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    padding-bottom: rem(16);

    @media screen and (max-width: 20em) {
      bottom: rem(67);
    }

    @include breakpoint(medium) {
      bottom: rem(111);
      left: rem(42);
      width: calc(45% - rem(47));
      transform: none;
    }

    @include breakpoint(large) {
      top: clamp(107px, calc(107px + ((100vh - 700px) / 8.333)), 143px);
      left: calc(40% + 32px);
      max-width: 633.61px;
      width: calc(497.75px + (100vw - 1024px) / 1.76);
    }

    &__list {
      overflow-y: scroll;
      height: calc(100% - rem(44));

      @include breakpoint(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
      }
    }

    &__item {
      position: relative;
      padding: rem(4) rem(24);
      font-size: rem(20);
      display: flex;
      transition: all 500ms ease-in-out;

      &:hover {
        & > .checkmark::after {
          visibility: visible;
        }

        & > input {
          background-color: $color-secondary-light;
        }
      }

      input {
        background-color: $color-milk;
        border-radius: 50%;
        appearance: none;
        -webkit-appearance: none;
        flex: 0 0 16px;
        height: 1rem;
        border: solid 1px $color-primary;

        &:checked {
          background-color: $color-sienna;

          & ~ .checkmark::after {
            visibility: visible;
          }
        }
      }

      label {
        margin-left: rem(8);
        transition: all 500ms ease-in-out;
      }
    }

    .checkmark::after {
      content: "✔️";
      position: absolute;
      left: rem(27);
      top: rem(5);
      font-size: 8px;
      visibility: hidden;
      z-index: 2;
    }

    .close-list {
      left: 1000%;
      bottom: 1000%;
      margin: rem(12) rem(12) 0 0;
    }

    .error {
      grid-column: 1/-1;
      margin: 2.5rem auto;
    }
  }
}

.stroked {
  text-decoration: line-through;
}

.deleted {
  transform: translateX(15px);
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  height: 250px !important;
}
