@use "utilities" as *;
@use "globals" as *;

.spinner {
  font-size: rem(70);
  color: $color-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
