@use "utilities" as *;
@use "globals" as *;

.welcome {
  margin-top: rem(36);
  text-align: center;

  @media screen and (max-width: 20em) {
    margin-top: rem(26);
  }

  @include breakpoint(medium) {
    margin-top: rem(70);
  }

  @include breakpoint(large) {
    margin-top: rem(96);
  }

  &__title {
    font-size: rem(28);
    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  &__text {
    margin: rem(15) auto 0;
    font-size: rem(18);
    width: 18ch;

    @include breakpoint(medium) {
      font-size: rem(20);
    }
  }

  &__subtitle {
    font-size: rem(22);
    margin-top: rem(28);

    @media screen and (max-width: 20em) {
      margin-top: rem(20);
    }

    @include breakpoint(medium) {
      font-size: rem(25);
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features {
  &__item {
    display: flex;
    align-items: center;
    margin-top: rem(16);
    gap: rem(25);
    @include breakpoint(medium) {
      margin-top: rem(22);
    }
  }

  &__icon {
    color: $color-primary;
    font-size: rem(22);

    @include breakpoint(medium) {
      font-size: rem(26);
    }
  }

  &__text {
    width: 15ch;
    text-align: left;
    @include breakpoint(medium) {
      font-size: rem(18);
    }
  }
}
