$color-primary: #e75c3a;
$color-primary-light: #f4c8a6;
$color-secondary: #f9c74f;
$color-secondary-light: #f9d889;
$color-sienna: #e76f51;
$color-milk: #fff9e7;
$color-blue: #003049;
$color-white: #fff;
$color-black: #000;
