@use "colors" as *;
@use "utilities" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(20) rem(30);
  width: 95%;
  max-width: rem(340);
  min-width: rem(265);
  height: 90%;
  min-height: rem(600);
  max-height: rem(650);
  margin: 0 auto;
  background-color: $color-milk;
  border-radius: rem(45);
  border: solid $color-secondary rem(10);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  @include breakpoint(medium) {
    max-width: rem(750);
    max-height: rem(950);
    min-height: rem(800);
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: stretch;
  }
}

.hidden {
  display: none;
}

main {
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    justify-items: center;
    margin-bottom: rem(150);
  }
}
